<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Koulen" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Battambang" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href='common.css' rel='stylesheet' type='text/css'>
<body ng-app="myApp">

<!-- <p><a href="#/!">Main</a></p>

<a href="#!red">Red</a>
<a href="#!green">Green</a>
<a href="#!blue">Blue</a> -->

<div ng-view></div>


<script type="text/ng-template" id="/main.html">
    <div data-ng-controller="views.test2.create as vm"  style="position:relative;">

        
        <div>
            <div class="loader" ng-show="vm.loading">
                <div class="strip-holder">
                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">សូមរង់ចាំ...</span>
                    </div>
                </div>
            </div>
            
    
            <div  ng-if="lotteryForm.$submitted">
               
                <!-- /.card-header -->
                <div >
                    <p class="text-danger" ng-if="lotteryForm.$submitted && lotteryForm.name.$invalid">សូមបំពេញឈ្មោះ</p>
                </div>
                <!-- /.card-body -->
            </div>
    
    
            <form name="lotteryForm" role="form" ng-submit="vm.save()">
    
                <div >
                 
                    <div class="form-group">
                        <label for="inputStatus">បញ្ចូលរូប</label>
                        <span class="text-danger">*</span>
                        <input type="file" name="file" id="file"  accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"  onchange="angular.element(this).scope().uploadFile(this.files)"/>
                    
                    </div>
                    <div class="form-group">
                      <!-- <img ng-src="../test.jpg" id="imageId" width="100%" height="100%" style="display:none;"/> -->
                      <!-- <img ng-src="../test.jpg" id="imageId" width="100%" height="100%" style="display:none;"/> -->
                      <!--  -->
                      <!--  -->
                      <!-- -->
                      <!--  -->
                      <img ng-src="{{image_source}}" id="imageId" width="100%" height="100%" style="display:none;"/>
                      <!-- <img ng-src="../test3.jpg" id="imageId" width="100%" height="100%" style="display:none;"/> -->
                      <!-- <img ng-src="../test3.jpg" id="imageId" width="100%" height="100%" style="display:none;"/> -->
                    </div>
                    <div>
                        <canvas width="375" height="677"  style="background:gray;"  id="preview"></canvas>
                    </div>
                    <img id="toSaveId" />
    
                    <div class="form-group">
                        <label for="inputStatus">កាលបរិច្ឆេទ</label>
                        <span class="text-danger">*</span>
                        <div class="input-group" style="    width: 375px !important;">
                            <div class="input-group-prepend" ng-click="vm.open1()">
                                <span class="input-group-text" style="    height: 44px;border-radius: 1px;">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right"
                                    style="    width: 375px !important;"
                                   uib-datepicker-popup="{{vm.format}}"
                                   ng-model="vm.model.createDate"
                                   ng-change="vm.picker();vm.onChangeImage();"
                                   is-open="vm.popup1.opened"
                                   datepicker-options="vm.dateOptions" required />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputStatus">ម៉ោង</label>
                        <span class="text-danger">*</span>
                        <div uib-timepicker
                             ng-model="vm.model.time"
                             style="    width: 375px !important;"
                             ng-change="vm.changedTime();vm.onChangeImage();" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    </div>
                    <div class="form-group">
                      <label for="clientCode">
                  
                          <span class="text-danger"></span>
                      </label>
                      <textarea
                      style="    width: 375px !important;"
                      class="form-control" rows="5" cols="6"  ng-model="vm.model.address" ng-change="vm.onChangeImage()"></textarea>

                   </div>
                  

                  
<!--                    
   ​​​​​​​​​​                  <div class="form-group">
                        <label for="clientCode">
                    
                            <span class="text-danger"></span>
                        </label>
                  
<div id="googleMap"></div>
                </div>  -->
                <div class="card-footer">
                   
                    <div class="fixed-bottom text-center" style=" bottom: 17px;"> <button type="submit" class="btn btn-success ng-mob" ng-click="vm.nextStep()">ជំហានបន្ទាប់</button></div>
                </div>
            </form>
    
        </div>
    </div>
    


</script>


<script type="text/ng-template" id="/addPhoto.html">
    <div data-ng-controller="views.test2.add-phone as vm"  style="position:relative;">

        
        <div>
            <div class="loader" ng-show="vm.loading">
                <div class="strip-holder">
                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">សូមរង់ចាំ...</span>
                    </div>
                </div>
            </div>
            
    
          
    
            <form name="lotteryForm" role="form" ng-submit="vm.save()">
    
                <div>
                 
    
              
                <div class="card-footer">
                   
                    <div class="fixed-bottom text-center" style=" bottom: 17px;"> <button type="submit" class="btn btn-success ng-mob" ng-click="vm.nextStep()">បញ្ចប់</button></div>
                </div>
              </div>
            </form>
    
        </div>
    </div>
    


</script>

<!-- 



<script type="text/ng-template" id="/green.html">
    green
</script>

<script type="text/ng-template" id="/blue.html">
    blue
</script> -->




<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<!-- CSS only -->
<script src="https://kit.fontawesome.com/49771d0941.js" crossorigin="anonymous"></script>


<script src="../Test2/mlText.js"></script>
<script src="../Test2/angular.min.js"></script>
<script src="../Test2/angular-route.min.js"></script>
<script src="../Test2/angular-animate.min.js"></script>
<script src="../Test2/angular-touch.min.js"></script>
<script src="../Test2/ui-bootstrap-tpls-2.5.0.js"></script> 

<!-- <script src="../mlText.js"></script>
<script src="../angular.min.js"></script>
<script src="../angular-route.min.js"></script>
<script src="../angular-animate.min.js"></script>
<script src="../angular-touch.min.js"></script>
<script src="../ui-bootstrap-tpls-2.5.0.js"></script> -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5c4ws__3njU5XEKUOXpIH_ScpluY9apo"></script>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



<script>

var app = angular.module("myApp", ["ngRoute",  "ui.bootstrap"]);


app.directive("drawing", function() {
  return {
    restrict: "A",
    scope:{
        file:"="
    },
    link: function(scope, element) {
      var _file=scope.file;
      debugger;
      var canvas = element[0];
      var ctx = canvas.getContext('2d');

      loadImage("http://placehold.it/640x480");
      //loadImage("http://placehold.it/100x80");
      
      
      // variable that decides if something should be drawn on mousemove
      var drawing = false;

      // the last coordinates before the current move
      var lastX;
      var lastY;

      element.bind('mousedown', function(event) {
        if (event.offsetX !== undefined) {
          lastX = event.offsetX;
          lastY = event.offsetY;
        } else {
          lastX = event.layerX - event.currentTarget.offsetLeft;
          lastY = event.layerY - event.currentTarget.offsetTop;
        }

        // begins new line
        ctx.beginPath();

        drawing = true;
      });
      element.bind('mousemove', function(event) {
        if (drawing) {
          // get current mouse position
          if (event.offsetX !== undefined) {
            currentX = event.offsetX;
            currentY = event.offsetY;
          } else {
            currentX = event.layerX - event.currentTarget.offsetLeft;
            currentY = event.layerY - event.currentTarget.offsetTop;
          }

          draw(lastX, lastY, currentX, currentY);

          // set current coordinates to last one
          lastX = currentX;
          lastY = currentY;
        }

      });

      element.bind('mouseup', function(event) {
        // stop drawing  
        drawing = false;
      });

      // canvas reset
      function reset() {
        element[0].width = element[0].width;
      }

      function loadImage(source){
        var img = new Image();
        img.src = source;

        img.onload = function() {
          ctx.drawImage(img, 0, 0, img.width, img.height,
                             0, 0, canvas.width, canvas.height);
        };  
      };
      
      function draw(startX, startY, endX, endY) {
        ctx.moveTo(startX, startY);
        ctx.lineTo(endX, endY);
        ctx.strokeStyle = "yellow";
        ctx.stroke();
      }
    }
  };
});

app.config(function($routeProvider) {

       
    $routeProvider
    .when("/", {
        templateUrl : "/main.html",
        controller: 'views.test2.create',
        controllerAs: 'vm'
    }).when("/add-photo?date&time&place", {
        templateUrl : "/addPhoto.html",
        params:{
            date:null,
            time:null,
            place:null
        },
        controller: 'views.test2.add-photo',
        controllerAs: 'vm'
    })
    // .when("/red", {
    //     templateUrl : "/red.html"
    // })
    // .when("/green", {
    //     templateUrl : "/green.html"
    // })
    // .when("/blue", {
    //     templateUrl : "/blue.html"
    // });
});
app.controller("views.test2.add-photo", [
            '$scope',
            '$rootScope',
            '$compile',
            // '$state',
            '$stateParams',
            function ($scope,
            $rootScope,
            $compile,
            $stateParams
                ) {
                var vm = this;
             var param=  $stateParams;
            
 }]);
app.controller("views.test2.create", [
            '$scope',
            '$rootScope',
            '$compile',
            // '$state',
            // '$stateParams',
            '$location',
            '$filter',
            function ($scope,
            $rootScope,
            $compile,
            $location,
            $filter
                ) {
                var vm = this;
                vm.model = {
                    createDate: new Date(),
                    time: new Date(),
                };
                var defaultTime = new Date();
                defaultTime.setHours(18);
                defaultTime.setMinutes(0);
                vm.model.time = defaultTime;

                vm.headerTitle = "បង្កើតឆ្នោត";
                vm.lotteryTimes = [];
                vm.navigator = {
                    add: false,
                    remove: false,
                    edit: false,
                    search: false,
                    bar: false,
                    back: true,
                };

                vm.popup1 = {
                    opened: false
                };
                vm.picker = function () {

                };
                $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate', 'MMM dd, yyyy'];
                vm.format = $scope.formats[4];

                vm.dateOptions = {
                    formatYear: 'yy',

                };
                vm.changedTime = function () {
                
                };
              

                vm.datePicker = new Date();
                vm.open1 = function () {
                    vm.popup1.opened = true;
                };
              
              


                function fillTextMultiLine(ctx, text, x, y) {
                        var lineHeight = ctx.measureText("M").width * 1.2;
                        var lines = text.split("\n");
                        for (var i = 0; i < lines.length; ++i) {
                          ctx.fillText(lines[i], x, y);
                          y += lineHeight;
                        }
                      }
              

                function getLine(dateText,timeText,address)
                {
                  //var allLine="Aug 14, 2021 15:01:30\nUnnamed Road\nKhan Mean Chey\nMean Chey\nPhnom Penh";
                  var allLine=dateText+" "+timeText+"\n"+address;
                  return allLine;
                }
                var canvas=null;
                vm.model.address="No RoadName\
Khan Mean Chey\
Mean Chey\
Phnom Penh";

                function loaded(dateText,timeText,address,img) {  
                     if(!img) return;
                     var _lineDisplay=getLine(dateText,timeText,address);                   
                  
                     var spaceY=27;
                     var spaceX=0;
                     canvas = angular.element(document.querySelector('#preview'))[0];
                                                     context = canvas.getContext('2d');
                                                    var lh = 22.5;
                                                    context.lineWidth = 1;
                                                    var startLocation=-(canvas.height *.6)//-150;
                                                    // canvas.width=img.naturalWidth;
                                                    // canvas.height= img.naturalHeight;
                                                    var currentX=canvas.width - (canvas.width *.55);//img.naturalWidth-510;//300;
                                                    
                                                    var currentY=canvas.height - (canvas.height *.20);//img.naturalHeight-139.5;
                                                        context.drawImage(img, 0, 0,canvas.width,canvas.height);
                                                        context.fillStyle="#fffdfa";
                                                        context.font = "14pt Arial";
                                                        context.mlFillText(_lineDisplay,currentX, currentY, 200, 120, 'center', 'right', lh);

                }

               


                function saveCanvasAs(cv, fileName) {
                        // get image data and transform mime type to application/octet-stream
                        var
                            canvasDataUrl = cv.toDataURL()
                                .replace(/^data:image\/[^;]*/, 'data:application/octet-stream'),
                            link = document.createElement('a'); // create an anchor tag

                        // set parameters for downloading
                        link.setAttribute('href', canvasDataUrl);
                        link.setAttribute('target', '_blank');
                        link.setAttribute('download', fileName);

                        // compat mode for dispatching click on your anchor
                        if (document.createEvent) {
                            var evtObj = document.createEvent('MouseEvents');
                            evtObj.initEvent('click', true, true);
                            link.dispatchEvent(evtObj);
                        } else if (link.click) {
                            link.click();
                        }
                    }
                

                  $scope.uploadFile = function(element) {
                          var fd = new FormData();
                          //Take the first selected file
                          fd.append("file", element[0]);

                          var reader = new FileReader();

                          reader.onload = function(event) {
                            $scope.image_source = event.target.result;
                              $scope.$apply();
                             
                              vm.onChangeImage();

                          }
                          // when the file is read it triggers the onload event above.
                        reader.readAsDataURL(element[0]);

                };

                
          vm.onChangeImage=function(){
                  var dateText=$filter('date')(vm.model.createDate, 'MMM dd, yyyy');
                  var timeText=$filter('date')(vm.model.time, 'h:mm:ss');
                  var img = angular.element(document.querySelector('#imageId'))[0];
                  if (img.complete) {
                    loaded(dateText,timeText,vm.model.address,img);
                }else {
                                img.addEventListener('load', loaded)
                                img.addEventListener('error', function() {
                                    alert('error')
                                })
                }
         };
         vm.onChangeImage();
                $scope.hstep = 1;
                $scope.mstep = 15;
                $scope.ismeridian = true;
                $scope.options = {
                    hstep: [1, 2, 3],
                    mstep: [1, 5, 10, 15, 25, 30]
                };

              
                vm.nextStep=function()
                {
                   var _date="Aug 14,2021";//vm.model.createDate;
                   var _time="15:44:30";
                   var _place="Unnamed Road,Khan Mean Chey,Meanchey,Phnom Penh";
                    $location.path('/add-photo?date='+_date+"&time="+_time+"&_place"+_place);
                }
               

                vm.back = function () {
                    $state.go("search");
                };

                

                vm.nextStep=function(){
                        if(canvas==null)
                        {
                           alert("Upload Photo is Required");
                           return;
                        }

                      
                     
                       saveCanvasAs(canvas, 'export.png');       
                };

// //This is cities collection
// var cities = [{
//   city: 'Cambodia',
//   desc: 'Sangkat Olympic Phnom Penh',
//   lat: 11.5528074,
//   long: 104.911154
// }
// ];


// $scope.highlighters = [];
//   $scope.gMap = null;
  
//   var winInfo = new google.maps.InfoWindow();
  
//   var googleMapOption = {
//     zoom: 16,
//     center: new google.maps.LatLng(11.554003, 104.910986),
//     mapTypeId: google.maps.MapTypeId.TERRAIN
//   };

//   $scope.gMap = new google.maps.Map(document.getElementById('googleMap'), googleMapOption);

  

//   var createHighlighter = function(citi) {

//     var citiesInfo = new google.maps.Marker({
//       map: $scope.gMap,
//       position: new google.maps.LatLng(citi.lat, citi.long),
//       title: citi.city
//     });

//     citiesInfo.content = '<div>' + citi.desc + '</div>';

//     google.maps.event.addListener(citiesInfo, 'click', function() {
//       winInfo.setContent('<h1>' + citiesInfo.title + '</h1>' + citiesInfo.content);
//       winInfo.open($scope.gMap, citiesInfo);
//       debugger;
//     });
//     $scope.highlighters.push(citiesInfo);
//   };

//   for (i = 0; i < cities.length; i++) {
//     createHighlighter(cities[i]);
//   }


}]);
</script>
</body>
</html>