<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Koulen" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Battambang" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href='common.css' rel='stylesheet' type='text/css'>
<body ng-app="myApp">

<!-- <p><a href="#/!">Main</a></p>

<a href="#!red">Red</a>
<a href="#!green">Green</a>
<a href="#!blue">Blue</a> -->

<div ng-view></div>



<script type="text/ng-template" id="/main.html">
 
    <div data-ng-controller="views.test2.create as vm"  style="position:relative;" >

      

       

        <div>
            <!--  -->
            <div class="loader" ng-show="vm.loading" style="    text-align: center;
            position: absolute;
            top: 25%;
            left: 40%;">
                <div class="strip-holder">
                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            
    
            <div  ng-if="lotteryForm.$submitted">
               
                <!-- /.card-header -->
                <div >
                    <p class="text-danger" ng-if="lotteryForm.$submitted && lotteryForm.name.$invalid">សូមបំពេញឈ្មោះ</p>
                </div>
                <!-- /.card-body -->
            </div>
     
    
            <form name="lotteryForm" role="form" ng-submit="vm.save()">
    
                <div >
                 
                    <!-- <div class="form-group">
                        <label for="inputStatus">បញ្ចូលរូប</label>
                        <span class="text-danger">*</span>
                        
                    </div> -->
                    <div class="form-group">
                     
                      <img ng-src="{{image_source}}" id="imageId" width="375" height="600" style="display:none;"/>
                    </div>
                    <div style="position: relative;">
                        <input type="file" name="file" id="file"
                        style="
                                position: absolute;
                                left: 25%;
                                color: #d8d8d859;
                                position: absolute;
                                top: 38%;
                                left: 30%;
                                z-index: 9999;
                                cursor: pointer;
                                /* font-size: 113px; */
                                opacity: 0;
                                width: 144px;
                                height: 125px;
                            "
                          accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"  onchange="angular.element(this).scope().uploadFile(this.files)"/>
                        <i  class="fas fa-photo-video" aria-hidden="true" style="
                                color: #d8d8d859;
                                position: absolute;
                                top: 39%;
                                left: 30%;
                                font-size: 113px;
                            "></i>
                        <canvas width="375" height="600"  style="background:gray;"  id="preview"></canvas>
                    </div>

                  
                    <img id="toSaveId" />
    
                    <div class="form-group">
                        <label for="inputStatus">កាលបរិច្ឆេទ</label>
                        <span class="text-danger">*</span>
                        <div class="input-group" style="    width: 375px !important;">
                            <div class="input-group-prepend" ng-click="vm.open1()">
                                <span class="input-group-text" style="    height: 44px;border-radius: 1px;">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right"
                                    style=" width:329px !important"
                                   uib-datepicker-popup="{{vm.format}}"
                                   ng-model="vm.model.createDate"
                                   ng-change="vm.picker();vm.onChangeImage();"
                                   is-open="vm.popup1.opened"
                                   datepicker-options="vm.dateOptions" required />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputStatus">ម៉ោង</label>
                        <span class="text-danger">*</span>
                        <div uib-timepicker
                             ng-model="vm.model.time"
                             style="    width: 375px !important;"
                             ng-change="vm.changedTime();vm.onChangeImage();" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    </div>
                  
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">ឈ្នោះទីតាំង</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="r in  vm.addresses track by $index" ng-style="{'background': r.selected?'#eaeaea':'#fff'}">
                            <th scope="row">{{$index+1}}</th>
                            <td><span ng-bind="r.address" ng-click="vm.onClick($index,r.address)"></span></td>
                          </tr>
                          
                        </tbody>
                      </table>
                    <textarea
                    style=" width: 375px !important;margin-bottom: 53px;"
                    class="form-control" rows="5" cols="6"  ng-model="vm.model.address" ng-change="vm.onChangeImage()"></textarea>

                
                  
                     
                <div class="card-footer">
                   
                    <div class="fixed-bottom text-center" style=" bottom: 17px;"> <button type="submit" class="btn btn-success ng-mob" ng-click="vm.nextStep()">ជំហានបន្ទាប់</button></div>
                </div>
                 <!-- <div style="display:none;" id="googleMap"></div> -->
            </form>
    
        </div>
    </div>
    


</script>




<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<!-- CSS only -->
<script src="https://kit.fontawesome.com/49771d0941.js" crossorigin="anonymous"></script>



    <script src="../Test2/mlText.js"></script>
<script src="../Test2/angular.min.js"></script>
<script src="../Test2/angular-route.min.js"></script>
<script src="../Test2/angular-animate.min.js"></script>
<script src="../Test2/angular-touch.min.js"></script>
<script src="../Test2/ui-bootstrap-tpls-2.5.0.js"></script>

<!--<script src="../mlText.js"></script>
<script src="../angular.min.js"></script>
<script src="../angular-route.min.js"></script>
<script src="../angular-animate.min.js"></script>
<script src="../angular-touch.min.js"></script>
<script src="../ui-bootstrap-tpls-2.5.0.js"></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5c4ws__3njU5XEKUOXpIH_ScpluY9apo"></script> -->


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



<script>

var app = angular.module("myApp", ["ngRoute",  "ui.bootstrap"]);



app.config(function($routeProvider) {

       
    $routeProvider
    .when("/", {
        templateUrl : "/main.html",
        controller: 'views.test2.create',
        controllerAs: 'vm'
    });
   
});

app.controller("views.test2.create", [
            '$scope',
            '$rootScope',
            '$compile',
            '$location',
            '$filter',
            '$http',
            '$document',
            '$uibModal',   
            function ($scope,
            $rootScope,
            $compile,
            $location,
            $filter,
            $http,
            $document,
            $uibModal
                ) {
                var vm = this;
                vm.model = {
                    createDate: new Date(),
                    time: new Date(),
                };
                var defaultTime = new Date();
                defaultTime.setHours(18);
                defaultTime.setMinutes(0);
                vm.model.time = defaultTime;

                vm.headerTitle = "បង្កើតឆ្នោត";
                vm.lotteryTimes = [];
                vm.navigator = {
                    add: false,
                    remove: false,
                    edit: false,
                    search: false,
                    bar: false,
                    back: true,
                };

                vm.popup1 = {
                    opened: false
                };
                vm.picker = function () {

                };
                $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate', 'MMM dd, yyyy'];
                vm.format = $scope.formats[4];

                vm.dateOptions = {
                    formatYear: 'yy',

                };
                vm.changedTime = function () {
                
                };


                vm.onClick=function(index,address)
                {
                    vm.addresses=vm.addresses.map(function(item,key){
                               item.selected=false;
                               if(index==key)  item.selected=true;
                               return item;
                    });
                    vm.model.address=address;

                    vm.onChangeImage();

                }
                

                vm.datePicker = new Date();
                vm.open1 = function () {
                    vm.popup1.opened = true;
                };
                vm.addresses=[];
                function initData(){
                   $http.get('../Test2/data.json').then(function(result){
                    vm.addresses=result.data;
                    vm.model.address=vm.addresses[0].address;
                   });
                }
                initData();
                
           

                function fillTextMultiLine(ctx, text, x, y) {
                        var lineHeight = ctx.measureText("M").width * 1.2;
                        var lines = text.split("\n");
                        for (var i = 0; i < lines.length; ++i) {
                          ctx.fillText(lines[i], x, y);
                          y += lineHeight;
                        }
                      }
              

                function getLine(address)
                {
             
                  var dateText=$filter('date')(vm.model.createDate, 'MMM dd, yyyy');
                  var timeText=$filter('date')(vm.model.time, 'h:mm:ss');
                  var allLine=dateText+" "+timeText+"\n"+address;
                  return allLine;
                }
                var canvas=null;
               

                function loaded(address,img) {  
                 
                    if(!img) return;
                    
                     var _lineDisplay=getLine(address);                   
                  
                     var spaceY=27;
                     var spaceX=0;
                     canvas = angular.element(document.querySelector('#preview'))[0];
                                                     context = canvas.getContext('2d');
                                                    var lh = 21.5;
                                                    context.lineWidth = 1;
                                                    var startLocation=-(canvas.height *.6)//-150;
                                                    var  _imageWidth=375; //img.naturalWidth * .39;//(img.naturalWidth * .39) <375 ? 375:(img.naturalWidth * .39);
                                                    var  _imageHeight=499; //img.naturalHeight * .39;//(img.naturalHeight * .39) <499 ? 499:(img.naturalHeight * .39);
                                                     
                                                     canvas.width=_imageWidth;
                                                     canvas.height=_imageHeight;
                                                    var currentX=canvas.width - (canvas.width *.82);//img.naturalWidth-510;//300;
                                                    var currentY=canvas.height - (canvas.height *.30);//img.naturalHeight-139.5;
                                                        context.drawImage(img, 0, 0,canvas.width,canvas.height);
                                                        context.fillStyle="#fff";
                                                        context.font = "11pt Battambang";
                                                        context.mlFillText(_lineDisplay,currentX, currentY, 300, 150, 'center', 'right', lh);

                }

               


                function saveCanvasAs(cv, fileName) {
                        // get image data and transform mime type to application/octet-stream
                        var
                            canvasDataUrl = cv.toDataURL()
                                .replace(/^data:image\/[^;]*/, 'data:application/octet-stream'),
                            link = document.createElement('a'); // create an anchor tag

                        // set parameters for downloading
                        link.setAttribute('href', canvasDataUrl);
                        link.setAttribute('target', '_blank');
                        link.setAttribute('download', fileName);

                        // compat mode for dispatching click on your anchor
                        if (document.createEvent) {
                            var evtObj = document.createEvent('MouseEvents');
                            evtObj.initEvent('click', true, true);
                            link.dispatchEvent(evtObj);
                        } else if (link.click) {
                            link.click();
                        }
                        vm.loading=false;
                    }
                

                  $scope.uploadFile = function(element) {
                          var fd = new FormData();
                          //Take the first selected file
                          fd.append("file", element[0]);

                          var reader = new FileReader();

                          reader.onload = function(event) {
                            $scope.image_source = event.target.result;
                              $scope.$apply();
                             
                              vm.onChangeImage();

                          }
                          // when the file is read it triggers the onload event above.
                        reader.readAsDataURL(element[0]);

                };

                
          vm.onChangeImage=function(){
                
                  var img = angular.element(document.querySelector('#imageId'))[0];
                  if (img.complete) {
                    loaded(vm.model.address,img);
                }else {
                                img.addEventListener('load', loaded)
                                img.addEventListener('error', function() {
                                    alert('error')
                                })
                }
         };
              vm.onChangeImage();
                $scope.hstep = 1;
                $scope.mstep = 15;
                $scope.ismeridian = true;
                $scope.options = {
                    hstep: [1, 2, 3],
                    mstep: [1, 5, 10, 15, 25, 30]
                };

             

                vm.back = function () {
                    $state.go("search");
                };
                 
                

                vm.nextStep=function(){
                    
                        if(canvas==null)
                        {
                           alert("Upload Photo is Required");
                           return;
                        }
                        vm.loading=true;
                        var dateText=$filter('date')(vm.model.createDate, 'yyyy-mm-dd');
                        var timeText=$filter('date')(vm.model.time, 'h-mm-ss');
                      
                        var fileName="photo_"+dateText+"_"+timeText+".jpg";
                       saveCanvasAs(canvas,fileName);       
                };


                vm.getLocation=function(){
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                         alert("Geolocation is not supported by this browser.");
                    }
                };

                
            
}]);
</script>
</body>
</html>
